
    * {
        font-family: 'Montesserat',sans-serif;
        box-sizing: border-box;
        
    }  
    body {
        font-family: "Montserrat",sans-serif;
        background-color: rgb(82, 82, 82);
        background-image: url(Bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        display:flex;
        flex-direction: column;
margin: 0;
align-items: center;
justify-content: flex-start;
min-height: 100vh;

        }
        .header{
                
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            margin-top:0;
            width:100%;
            background-color:rgba(255, 255, 255, 0.144);
            color:black;
            font-size: 24px;
            backdrop-filter: blur(30px);
                color:rgb(0, 0, 0);
                font-weight: 500;
                
    padding: 5px   ;
        border-radius: 10px;
        }
.cl{
      height: 500px;
        width:700px;
        background-color:  white;
        border-radius: 20px;
        display: flex;
    flex-direction:column;
}
.cloverlay{
    position: fixed;      /* Cover the whole screen */
        top: 0;
        left: 0;
        height: 100vh;        /* Full viewport height */
        width: 100vw;         /* Full viewport width */
        background-color: rgba(0, 0, 0, 0.336);
        display: none;
        z-index: 100;
        justify-content: center;
        align-items: center;
}
        
        .header button{
            width:50px;
            height:30px;
            background-color: rgba(255, 255, 255, 0.104);
            backdrop-filter: blur(30px);
            border-radius: 10px;
            border: none;
            box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.297);
            transition:all 0.3s ease;
            margin-right:10px;
            cursor: pointer;
        }
        .header button.plus:hover{
            background-color: #00fe0d;

        }
        .header button.minus:hover{
            background-color: red;
        }
        .header button.cs:hover{
            background-color: blue;
        }
.header h1 {
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.header h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header h1:hover::after {
    width: 100%;
}
        
        .header button:hover{
            transform:translateY(-5px);
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.685);;
        }
    .right-side {
        display: flex;
        align-items: center;
        gap: 10px; 
    }
   



    .shortcuts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
        align-items: center;      
        gap: 200px;                 
       margin-top:200px;
        max-width: 90vw;
        background-color: rgba(255, 255, 255, 0.186);
        border-radius: 20px;
        padding: 30px;
        backdrop-filter: blur(30px);
        margin-bottom:30px;
    }
.shortcuts:empty {
    display: none;
}   



        .shortcut{
            width:100px;
            height:100px;
            border-radius:10px;
            display: inline-block;
            text-decoration: none;
        transition: all 0.3s ease;
        }
        .shortcut img{
            width:inherit;
            height:inherit;
            border-radius:10px;
                box-shadow:2px 4px 8px black;
                cursor:pointer;
            
            display :block;
            text-decoration: none;
        }
        .shortcut:hover{
            transform :translateY(-10px);
            box-shadow:3px 5px 9px rgba(0, 0, 0, 0.3);
            text-decoration: none;
        }
    .shortcut span {
        display: block;
        margin-top: 8px; 
        font-weight: 500;
        text-align:center;

        color:rgb(255, 255, 255)
    
    }
    .add{
        height: 500px;
        width:700px;
        background-color:  white;
        border-radius: 20px;
        display: none;
    flex-direction:column;
    transition: transform 0.3s ease;
    transform: translateX(-800px);
    

    }
    .add.gone{
        transform: translateX(-1500px);
    }
    .add.active{
        transform: translateX(0px);
    }
    .dlt{
        height: 200px;
        width:700px;
        background-color:  white;
        border-radius: 20px;
        display: none;
    flex-direction:column;
transition: transform 0.3s ease;
    transform: translateX(1500px);

}
    .dlt.active{
        transform: translateX(0px);
    }
    .dlt.gone{
        transform: translateX(1500px);
    }
    .dt{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-top:30px;
        justify-content: center;
        align-items: center;
        gap:50px;

    }
    .dt button{
        border-radius: 10px;
        background-color: rgb(47, 255, 54);
        transition: all 0.5s ease-in-out;
        height: 40px;
        width: 150px;
   border: none;
        cursor: pointer;

    }
    
    .dt button:hover{
    transform: translateY(-10px);
       
    }

    .ddd{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-top:30px;
        justify-content: center;
        align-items: center;
        gap:50px;

    }
    .ddd button{
        border-radius: 10px;
        background-color: rgb(47, 255, 54);
        transition: all 0.5s ease;
        height: 40px;
        width: 150px;

        cursor: pointer;
        border: none;

    }
    .ddd button:hover{
        
        transform: translateY(-10px);
       
    }
    .overlay {
        position: fixed;      /* Cover the whole screen */
        top: 0;
        left: 0;
        height: 100vh;        /* Full viewport height */
        width: 100vw;         /* Full viewport width */
        background-color: rgba(0, 0, 0, 0.192);
        display: none;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }
    /* Style the input box */
    input[type="file"] {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 6px;
    background-color: #f9f9f9;
    cursor: pointer;
    }

    /* Style the actual "Choose file" button */
    input[type="file"]::file-selector-button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: background 0.2s ease;
    }

    /* Hover effect for button */
    input[type="file"]::file-selector-button:hover {
    background: #45a049;
    }


   .Bg {
    width:700px;
    height: 400px;
    display:none;
    flex-direction: column;
    background-color: white;
    border-radius:10px;
     transform: translateY(-800px);
    transition:transform 0.3s ease;

    }
    .Bg.active{
        transform: translateY(0);

    }
    .Bg.gone{
        transform: translateY(-800px);

    }
    .dialog{
        width:700px;
        height: 100px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        display:none;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    transition: transform 0.3s ease;;
        

    }
    .dialog.active{
        transform: translateY(-450px);
    }
    .dialog.gone{
        transform: translateY(-800px);
    }
    .Cnnf{
        width:inherit;
        height: 50px;
        display:flex;
        flex-direction: row;
         justify-content: center;
         gap:200px;
        
        
    }
  .Cnnf button{
        border-radius: 10px;
        background-color: rgb(0, 253, 8);
       cursor: pointer;
        transition: all 0.5s ease;
        height: 40px;
        width: 150px;
       
       

    }
      .Cnnf button:hover{
   transform: translateY(-10px);
        
    }
.uoverlay{
    position: fixed;      /* Cover the whole screen */
        top: 0;
        left: 0;
        height: 100vh;        /* Full viewport height */
        width: 100vw;         /* Full viewport width */
        background-color: rgba(255, 255, 255, 0);
        display: none;
        z-index: 100;
        justify-content: flex-end;
        align-items: top;
}

    .updt{
        width:500px;
        height: 70px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        transition: all 0.5s ease;
        z-index:100;
        overflow: hidden;
        margin-top:-70px;
        transition: all 0.3s ease;
        position: relative;
        display:flex;
        align-items: center;
        



    }
    .updt:hover{
        height: 200px;
       
    }
    .title {
        
        padding: 10px;
  position: absolute;          
  top: 50%;                  
  left: 50%;     
  width:100%;             
  transform: translate(-50%, -50%); 
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  z-index: 10;  
 transition: top 0.3s ease;
 display: flex;
 justify-content:center ;
 transition: all 0.5s ease-in;
}
    .changes {
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
 justify-content:center ;
 padding: 10px;
  margin-top:70px;  
   
}
.updt:hover .title{
 transform: translate(-50%, -170%);
}

.updt:hover .changes {
  opacity: 1;
}
 
 

    .updt.active{
        display:flex;
        flex-direction: column;
        align-items: center;
         margin-top:70px;
    }
    .clbutton{
        width:10px;
        height: 10px;
        background-color: red;
        border-radius:50%;
        margin-left:-97%;
        margin-top:5px;
        position:absolute;
cursor: pointer;
    }
 
    .updt.gone{
        margin-top:-200px;
       
    }
.buttns{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top:20px;

    flex-direction: row;
    
}
.ubt{
        margin-bottom:50px;
   width:150px;
    height:30px;
    border-radius:10px;
    background-color: rgb(3, 216, 10);
    transition: all 0.5s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
}
.ubt:hover{
    transform: translateY(-10px);
}
